@charset "UTF-8";
body{
    text-decoration: none;
    color: black;
    font-family: Arial;
    text-align: center;
    background: linear-gradient(0deg, rgb(14, 19, 83) 5%, rgb(26, 105, 158) 50%, rgba(38, 169, 245, 0.838) 150%);
    margin: none;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    padding: 20px 20px;
}
.cabeçalho{
    text-align: center;
    color: gray;
}

.logo{
    display: flex;
    width: 10px;
}
nav {
    width: 200px;
    display: flex; 
    justify-content: space-between;
}
h2{
    color: gray;
    font-size: 20px;
}
h1{
    color: black;
    font-size: 30px;
}

a{
    text-decoration: none;
}